{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://s3.amazonaws.com/"
        },
        {
            "url": "http://s3.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<p/>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "Amazon Simple Storage Service",
        "version": "2006-03-01",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/s3-2006-03-01.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "s3",
        "x-serviceName": "s3"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://docs.aws.amazon.com/s3/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/#ListBuckets": {
            "get": {
                "description": "Returns a list of all buckets owned by the authenticated sender of the request.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTServiceGET.html</p>",
                "operationId": "ListBuckets",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/xml": {
                                "schema": {
                                    "example": {
                                        "Buckets": [
                                            {
                                                "CreationDate": "2012-02-15T21: 03: 02.000Z",
                                                "Name": "examplebucket"
                                            },
                                            {
                                                "CreationDate": "2011-07-24T19: 33: 50.000Z",
                                                "Name": "examplebucket2"
                                            },
                                            {
                                                "CreationDate": "2010-12-17T00: 56: 49.000Z",
                                                "Name": "examplebucket3"
                                            }
                                        ],
                                        "Owner": {
                                            "DisplayName": "own-display-name",
                                            "ID": "examplee7a2f25102679df27bb0ae12b3f85be6f290b936c4393484be31"
                                        }
                                    },
                                    "properties": {
                                        "Buckets": {
                                            "description": "<p/>",
                                            "items": {
                                                "description": "<p/>",
                                                "properties": {
                                                    "CreationDate": {
                                                        "description": "Date the bucket was created.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "Name": {
                                                        "description": "The name of the bucket.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "Owner": {
                                            "description": "<p/>",
                                            "properties": {
                                                "DisplayName": {
                                                    "description": "<p/>",
                                                    "type": "string"
                                                },
                                                "ID": {
                                                    "description": "<p/>",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "in": "header",
                    "name": "x-amz-security-token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/{Bucket}": {
            "parameters": [
                {
                    "in": "header",
                    "name": "x-amz-security-token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "put": {
                "description": "Creates a new bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUT.html</p>",
                "operationId": "CreateBucket",
                "parameters": [
                    {
                        "in": "path",
                        "name": "Bucket",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/xml": {
                                "schema": {
                                    "example": {
                                        "Location": "http://examplebucket.s3.amazonaws.com/"
                                    },
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BucketAlreadyExists",
                        "content": {
                            "text/xml": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "BucketAlreadyOwnedByYou",
                        "content": {
                            "text/xml": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "text/xml": {
                            "schema": {
                                "example": {
                                    "Bucket": "examplebucket",
                                    "CreateBucketConfiguration": {
                                        "LocationConstraint": "eu-west-1"
                                    }
                                },
                                "properties": {
                                    "CreateBucketConfiguration": {
                                        "description": "<p/>",
                                        "properties": {
                                            "LocationConstraint": {
                                                "description": "Specifies the region where the bucket will be created. If you don't specify a region, the bucket is created in US East (N. Virginia) Region (us-east-1).",
                                                "enum": [
                                                    "EU",
                                                    "eu-west-1",
                                                    "us-west-1",
                                                    "us-west-2",
                                                    "ap-south-1",
                                                    "ap-southeast-1",
                                                    "ap-southeast-2",
                                                    "ap-northeast-1",
                                                    "sa-east-1",
                                                    "cn-north-1",
                                                    "eu-central-1"
                                                ],
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object",
                                "xml": {
                                    "namespace": "http://s3.amazonaws.com/doc/2006-03-01/"
                                }
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/{Bucket}#DeleteBucket": {
            "delete": {
                "description": "Deletes the bucket. All objects (including all object versions and Delete Markers) in the bucket must be deleted before the bucket itself can be deleted.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETE.html</p>",
                "operationId": "DeleteBucket",
                "parameters": [
                    {
                        "in": "path",
                        "name": "Bucket",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "requestBody": {
                    "content": {
                        "text/xml": {
                            "schema": {
                                "example": {
                                    "Bucket": "forrandall2"
                                },
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "header",
                    "name": "x-amz-security-token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/{Bucket}#DeleteBucketAnalyticsConfiguration": {
            "delete": {
                "description": "Deletes an analytics configuration for the bucket (specified by the analytics configuration ID).",
                "operationId": "DeleteBucketAnalyticsConfiguration",
                "parameters": [
                    {
                        "allowEmptyValue": true,
                        "in": "query",
                        "name": "analytics",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "Bucket",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "requestBody": {
                    "content": {
                        "text/xml": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "header",
                    "name": "x-amz-security-token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/{Bucket}#DeleteBucketCors": {
            "delete": {
                "description": "Deletes the CORS configuration information set for the bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETEcors.html</p>",
                "operationId": "DeleteBucketCors",
                "parameters": [
                    {
                        "allowEmptyValue": true,
                        "in": "query",
                        "name": "cors",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "Bucket",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "requestBody": {
                    "content": {
                        "text/xml": {
                            "schema": {
                                "example": {
                                    "Bucket": "examplebucket"
                                },
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "header",
                    "name": "x-amz-security-token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/{Bucket}#DeleteBucketEncryption": {
            "delete": {
                "description": "Deletes the server-side encryption configuration from the bucket.",
                "operationId": "DeleteBucketEncryption",
                "parameters": [
                    {
                        "allowEmptyValue": true,
                        "in": "query",
                        "name": "encryption",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "Bucket",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "requestBody": {
                    "content": {
                        "text/xml": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "header",
                    "name": "x-amz-security-token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/{Bucket}#DeleteBucketInventoryConfiguration": {
            "delete": {
                "description": "Deletes an inventory configuration (identified by the inventory ID) from the bucket.",
                "operationId": "DeleteBucketInventoryConfiguration",
                "parameters": [
                    {
                        "allowEmptyValue": true,
                        "in": "query",
                        "name": "inventory",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "Bucket",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "requestBody": {
                    "content": {
                        "text/xml": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "header",
                    "name": "x-amz-security-token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/{Bucket}#DeleteBucketLifecycle": {
            "delete": {
                "description": "Deletes the lifecycle configuration from the bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETElifecycle.html</p>",
                "operationId": "DeleteBucketLifecycle",
                "parameters": [
                    {
                        "allowEmptyValue": true,
                        "in": "query",
                        "name": "lifecycle",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "Bucket",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "requestBody": {
                    "content": {
                        "text/xml": {
                            "schema": {
                                "example": {
                                    "Bucket": "examplebucket"
                                },
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "header",
                    "name": "x-amz-security-token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/{Bucket}#DeleteBucketMetricsConfiguration": {
            "delete": {
                "description": "Deletes a metrics configuration (specified by the metrics configuration ID) from the bucket.",
                "operationId": "DeleteBucketMetricsConfiguration",
                "parameters": [
                    {
                        "allowEmptyValue": true,
                        "in": "query",
                        "name": "metrics",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "Bucket",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "requestBody": {
                    "content": {
                        "text/xml": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "header",
                    "name": "x-amz-security-token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/{Bucket}#DeleteBucketPolicy": {
            "delete": {
                "description": "Deletes the policy from the bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETEpolicy.html</p>",
                "operationId": "DeleteBucketPolicy",
                "parameters": [
                    {
                        "allowEmptyValue": true,
                        "in": "query",
                        "name": "policy",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "Bucket",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "requestBody": {
                    "content": {
                        "text/xml": {
                            "schema": {
                                "example": {
                                    "Bucket": "examplebucket"
                                },
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "header",
                    "name": "x-amz-security-token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/{Bucket}#DeleteBucketReplication": {
            "delete": {
                "description": " Deletes the replication configuration from the bucket. For information about replication configuration, see <a href=\" https://docs.aws.amazon.com/AmazonS3/latest/dev/crr.html\">Cross-Region Replication (CRR)</a> in the <i>Amazon S3 Developer Guide</i>. ",
                "operationId": "DeleteBucketReplication",
                "parameters": [
                    {
                        "allowEmptyValue": true,
                        "in": "query",
                        "name": "replication",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "Bucket",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "requestBody": {
                    "content": {
                        "text/xml": {
                            "schema": {
                                "example": {
                                    "Bucket": "example"
                                },
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "header",
                    "name": "x-amz-security-token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/{Bucket}#DeleteBucketTagging": {
            "delete": {
                "description": "Deletes the tags from the bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETEtagging.html</p>",
                "operationId": "DeleteBucketTagging",
                "parameters": [
                    {
                        "allowEmptyValue": true,
                        "in": "query",
                        "name": "tagging",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "Bucket",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "requestBody": {
                    "content": {
                        "text/xml": {
                            "schema": {
                                "example": {
                                    "Bucket": "examplebucket"
                                },
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "header",
                    "name": "x-amz-security-token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/{Bucket}#DeleteBucketWebsite": {
            "delete": {
                "description": "This operation removes the website configuration from the bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETEwebsite.html</p>",
                "operationId": "DeleteBucketWebsite",
                "parameters": [
                    {
                        "allowEmptyValue": true,
                        "in": "query",
                        "name": "website",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "Bucket",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "requestBody": {
                    "content": {
                        "text/xml": {
                            "schema": {
                                "example": {
                                    "Bucket": "examplebucket"
                                },
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "header",
                    "name": "x-amz-security-token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/{Bucket}#DeleteObjects": {
            "parameters": [
                {
                    "in": "header",
                    "name": "x-amz-security-token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "This operation enables you to delete multiple objects from a bucket using a single HTTP request. You may specify up to 1000 keys.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/multiobjectdeleteapi.html</p>",
                "operationId": "DeleteObjects",
                "parameters": [
                    {
                        "allowEmptyValue": true,
                        "in": "query",
                        "name": "delete",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "Bucket",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/xml": {
                                "schema": {
                                    "example": {
                                        "Deleted": [
                                            {
                                                "Key": "HappyFace.jpg",
                                                "VersionId": "yoz3HB.ZhCS_tKVEmIOr7qYyyAaZSKVd"
                                            },
                                            {
                                                "Key": "HappyFace.jpg",
                                                "VersionId": "2LWg7lQLnY41.maGB5Z6SWW.dcq0vx7b"
                                            }
                                        ]
                                    },
                                    "properties": {
                                        "Deleted": {
                                            "description": "<p/>",
                                            "items": {
                                                "description": "<p/>",
                                                "properties": {
                                                    "DeleteMarker": {
                                                        "description": "<p/>",
                                                        "type": "boolean"
                                                    },
                                                    "DeleteMarkerVersionId": {
                                                        "description": "<p/>",
                                                        "type": "string"
                                                    },
                                                    "Key": {
                                                        "description": "<p/>",
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "VersionId": {
                                                        "description": "<p/>",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array",
                                            "xml": {
                                                "wrapped": false
                                            }
                                        },
                                        "Errors": {
                                            "description": "<p/>",
                                            "items": {
                                                "description": "<p/>",
                                                "properties": {
                                                    "Code": {
                                                        "description": "<p/>",
                                                        "type": "string"
                                                    },
                                                    "Key": {
                                                        "description": "<p/>",
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "Message": {
                                                        "description": "<p/>",
                                                        "type": "string"
                                                    },
                                                    "VersionId": {
                                                        "description": "<p/>",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array",
                                            "xml": {
                                                "wrapped": false
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "text/xml": {
                            "schema": {
                                "example": {
                                    "Bucket": "examplebucket",
                                    "Delete": {
                                        "Objects": [
                                            {
                                                "Key": "HappyFace.jpg",
                                                "VersionId": "2LWg7lQLnY41.maGB5Z6SWW.dcq0vx7b"
                                            },
                                            {
                                                "Key": "HappyFace.jpg",
                                                "VersionId": "yoz3HB.ZhCS_tKVEmIOr7qYyyAaZSKVd"
                                            }
                                        ],
                                        "Quiet": false
                                    }
                                },
                                "properties": {
                                    "Delete": {
                                        "description": "<p/>",
                                        "properties": {
                                            "Objects": {
                                                "description": "<p/>",
                                                "items": {
                                                    "description": "<p/>",
                                                    "properties": {
                                                        "Key": {
                                                            "description": "Key name of the object to delete.",
                                                            "minLength": 1,
                                                            "type": "string"
                                                        },
                                                        "VersionId": {
                                                            "description": "VersionId for the specific version of the object to delete.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "Key"
                                                    ],
                                                    "type": "object"
                                                },
                                                "type": "array",
                                                "xml": {
                                                    "wrapped": false
                                                }
                                            },
                                            "Quiet": {
                                                "description": "Element to enable quiet mode for the request. When you add this element, you must set its value to true.",
                                                "type": "boolean"
                                            }
                                        },
                                        "required": [
                                            "Objects"
                                        ],
                                        "type": "object"
                                    }
                                },
                                "required": [
                                    "Delete"
                                ],
                                "type": "object",
                                "xml": {
                                    "namespace": "http://s3.amazonaws.com/doc/2006-03-01/"
                                }
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/{Bucket}#DeletePublicAccessBlock": {
            "delete": {
                "description": "Removes the <code>PublicAccessBlock</code> configuration from an Amazon S3 bucket.",
                "operationId": "DeletePublicAccessBlock",
                "parameters": [
                    {
                        "allowEmptyValue": true,
                        "in": "query",
                        "name": "publicAccessBlock",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "Bucket",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "requestBody": {
                    "content": {
                        "text/xml": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "header",
                    "name": "x-amz-security-token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/{Bucket}#GetBucketAccelerateConfiguration": {
            "get": {
                "description": "Returns the accelerate configuration of a bucket.",
                "operationId": "GetBucketAccelerateConfiguration",
                "parameters": [
                    {
                        "allowEmptyValue": true,
                        "in": "query",
                        "name": "accelerate",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "Bucket",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/xml": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "description": "The accelerate configuration of the bucket.",
                                            "enum": [
                                                "Enabled",
                                                "Suspended"
                                            ],
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "text/xml": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "header",
                    "name": "x-amz-security-token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/{Bucket}#GetBucketAcl": {
            "get": {
                "description": "Gets the access control policy for the bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETacl.html</p>",
                "operationId": "GetBucketAcl",
                "parameters": [
                    {
                        "allowEmptyValue": true,
                        "in": "query",
                        "name": "acl",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "Bucket",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/xml": {
                                "schema": {
                                    "properties": {
                                        "Grants": {
                                            "description": "A list of grants.",
                                            "items": {
                                                "description": "<p/>",
                                                "properties": {
                                                    "Grantee": {
                                                        "description": "<p/>",
                                                        "properties": {
                                                            "DisplayName": {
                                                                "description": "Screen name of the grantee.",
                                                                "type": "string"
                                                            },
                                                            "EmailAddress": {
                                                                "description": "Email address of the grantee.",
                                                                "type": "string"
                                                            },
                                                            "ID": {
                                                                "description": "The canonical user ID of the grantee.",
                                                                "type": "string"
                                                            },
                                                            "Type": {
                                                                "description": "Type of grantee",
                                                                "enum": [
                                                                    "CanonicalUser",
                                                                    "AmazonCustomerByEmail",
                                                                    "Group"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "URI": {
                                                                "description": "URI of the grantee group.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "Type"
                                                        ],
                                                        "type": "object",
                                                        "xml": {
                                                            "attribute": true,
                                                            "namespace": "http://www.w3.org/2001/XMLSchema-instance"
                                                        }
                                                    },
                                                    "Permission": {
                                                        "description": "Specifies the permission given to the grantee.",
                                                        "enum": [
                                                            "FULL_CONTROL",
                                                            "WRITE",
                                                            "WRITE_ACP",
                                                            "READ",
                                                            "READ_ACP"
                                                        ],
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "Owner": {
                                            "description": "<p/>",
                                            "properties": {
                                                "DisplayName": {
                                                    "description": "<p/>",
                                                    "type": "string"
                                                },
                                                "ID": {
                                                    "description": "<p/>",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "text/xml": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "header",
                    "name": "x-amz-security-token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/{Bucket}#GetBucketAnalyticsConfiguration": {
            "get": {
                "description": "Gets an analytics configuration for the bucket (specified by the analytics configuration ID).",
                "operationId": "GetBucketAnalyticsConfiguration",
                "parameters": [
                    {
                        "allowEmptyValue": true,
                        "in": "query",
                        "name": "analytics",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "Bucket",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/xml": {
                                "schema": {
                                    "properties": {
                                        "AnalyticsConfiguration": {
                                            "description": "The configuration and any analyses for the analytics filter.",
                                            "properties": {
                                                "Filter": {
                                                    "description": "The filter used to describe a set of objects for analyses. A filter must have exactly one prefix, one tag, or one conjunction (AnalyticsAndOperator). If no filter is provided, all objects will be considered in any analysis.",
                                                    "properties": {
                                                        "And": {
                                                            "description": "A conjunction (logical AND) of predicates, which is used in evaluating an analytics filter. The operator must have at least two predicates.",
                                                            "properties": {
                                                                "Prefix": {
                                                                    "description": "The prefix to use when evaluating an AND predicate.",
                                                                    "type": "string"
                                                                },
                                                                "Tags": {
                                                                    "description": "The list of tags to use when evaluating an AND predicate.",
                                                                    "items": {
                                                                        "description": "<p/>",
                                                                        "properties": {
                                                                            "Key": {
                                                                                "description": "Name of the tag.",
                                                                                "minLength": 1,
                                                                                "type": "string"
                                                                            },
                                                                            "Value": {
                                                                                "description": "Value of the tag.",
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "Key",
                                                                            "Value"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                }
                                                            },
                                                            "type": "object",
                                                            "xml": {
                                                                "wrapped": false
                                                            }
                                                        },
                                                        "Prefix": {
                                                            "description": "The prefix to use when evaluating an analytics filter.",
                                                            "type": "string"
                                                        },
                                                        "Tag": {
                                                            "description": "The tag to use when evaluating an analytics filter.",
                                                            "properties": {
                                                                "Key": {
                                                                    "description": "Name of the tag.",
                                                                    "minLength": 1,
                                                                    "type": "string"
                                                                },
                                                                "Value": {
                                                                    "description": "Value of the tag.",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "Key",
                                                                "Value"
                                                            ],
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "Id": {
                                                    "description": "The identifier used to represent an analytics configuration.",
                                                    "type": "string"
                                                },
                                                "StorageClassAnalysis": {
                                                    "description": "If present, it indicates that data related to access patterns will be collected and made available to analyze the tradeoffs between different storage classes.",
                                                    "properties": {
                                                        "DataExport": {
                                                            "description": "A container used to describe how data related to the storage class analysis should be exported.",
                                                            "properties": {
                                                                "Destination": {
                                                                    "description": "The place to store the data for an analysis.",
                                                                    "properties": {
                                                                        "S3BucketDestination": {
                                                                            "description": "A destination signifying output to an S3 bucket.",
                                                                            "properties": {
                                                                                "Bucket": {
                                                                                    "description": "The Amazon resource name (ARN) of the bucket to which data is exported.",
                                                                                    "type": "string"
                                                                                },
                                                                                "BucketAccountId": {
                                                                                    "description": "The account ID that owns the destination bucket. If no account ID is provided, the owner will not be validated prior to exporting data.",
                                                                                    "type": "string"
                                                                                },
                                                                                "Format": {
                                                                                    "description": "The file format used when exporting data to Amazon S3.",
                                                                                    "enum": [
                                                                                        "CSV"
                                                                                    ],
                                                                                    "type": "string"
                                                                                },
                                                                                "Prefix": {
                                                                                    "description": "The prefix to use when exporting data. The exported data begins with this prefix.",
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "Format",
                                                                                "Bucket"
                                                                            ],
                                                                            "type": "object"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "S3BucketDestination"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "OutputSchemaVersion": {
                                                                    "description": "The version of the output schema to use when exporting data. Must be V_1.",
                                                                    "enum": [
                                                                        "V_1"
                                                                    ],
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "OutputSchemaVersion",
                                                                "Destination"
                                                            ],
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "required": [
                                                "Id",
                                                "StorageClassAnalysis"
                                            ],
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "text/xml": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "header",
                    "name": "x-amz-security-token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/{Bucket}#GetBucketCors": {
            "get": {
                "description": "Returns the CORS configuration for the bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETcors.html</p>",
                "operationId": "GetBucketCors",
                "parameters": [
                    {
                        "allowEmptyValue": true,
                        "in": "query",
                        "name": "cors",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "Bucket",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/xml": {
                                "schema": {
                                    "example": {
                                        "CORSRules": [
                                            {
                                                "AllowedHeaders": [
                                                    "Authorization"
                                                ],
                                                "AllowedMethods": [
                                                    "GET"
                                                ],
                                                "AllowedOrigins": [
                                                    "*"
                                                ],
                                                "MaxAgeSeconds": 3000
                                            }
                                        ]
                                    },
                                    "properties": {
                                        "CORSRules": {
                                            "description": "<p/>",
                                            "items": {
                                                "description": "<p/>",
                                                "properties": {
                                                    "AllowedHeaders": {
                                                        "description": "Specifies which headers are allowed in a pre-flight OPTIONS request.",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array",
                                                        "xml": {
                                                            "wrapped": false
                                                        }
                                                    },
                                                    "AllowedMethods": {
                                                        "description": "Identifies HTTP methods that the domain/origin specified in the rule is allowed to execute.",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array",
                                                        "xml": {
                                                            "wrapped": false
                                                        }
                                                    },
                                                    "AllowedOrigins": {
                                                        "description": "One or more origins you want customers to be able to access the bucket from.",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array",
                                                        "xml": {
                                                            "wrapped": false
                                                        }
                                                    },
                                                    "ExposeHeaders": {
                                                        "description": "One or more headers in the response that you want customers to be able to access from their applications (for example, from a JavaScript XMLHttpRequest object).",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array",
                                                        "xml": {
                                                            "wrapped": false
                                                        }
                                                    },
                                                    "MaxAgeSeconds": {
                                                        "description": "The time in seconds that your browser is to cache the preflight response for the specified resource.",
                                                        "type": "integer"
                                                    }
                                                },
                                                "required": [
                                                    "AllowedMethods",
                                                    "AllowedOrigins"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array",
                                            "xml": {
                                                "wrapped": false
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "text/xml": {
                            "schema": {
                                "example": {
                                    "Bucket": "examplebucket"
                                },
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "header",
                    "name": "x-amz-security-token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/{Bucket}#GetBucketEncryption": {
            "get": {
                "description": "Returns the server-side encryption configuration of a bucket.",
                "operationId": "GetBucketEncryption",
                "parameters": [
                    {
                        "allowEmptyValue": true,
                        "in": "query",
                        "name": "encryption",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "Bucket",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/xml": {
                                "schema": {
                                    "properties": {
                                        "ServerSideEncryptionConfiguration": {
                                            "description": "Container for server-side encryption configuration rules. Currently S3 supports one rule only.",
                                            "properties": {
                                                "Rules": {
                                                    "description": "Container for information about a particular server-side encryption configuration rule.",
                                                    "items": {
                                                        "description": "Container for information about a particular server-side encryption configuration rule.",
                                                        "properties": {
                                                            "ApplyServerSideEncryptionByDefault": {
                                                                "description": "Describes the default server-side encryption to apply to new objects in the bucket. If Put Object request does not specify any server-side encryption, this default encryption will be applied.",
                                                                "properties": {
                                                                    "KMSMasterKeyID": {
                                                                        "description": "KMS master key ID to use for the default encryption. This parameter is allowed if SSEAlgorithm is aws:kms.",
                                                                        "format": "password",
                                                                        "type": "string"
                                                                    },
                                                                    "SSEAlgorithm": {
                                                                        "description": "Server-side encryption algorithm to use for the default encryption.",
                                                                        "enum": [
                                                                            "AES256",
                                                                            "aws:kms"
                                                                        ],
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "SSEAlgorithm"
                                                                ],
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array",
                                                    "xml": {
                                                        "wrapped": false
                                                    }
                                                }
                                            },
                                            "required": [
                                                "Rules"
                                            ],
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "text/xml": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "header",
                    "name": "x-amz-security-token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/{Bucket}#GetBucketInventoryConfiguration": {
            "get": {
                "description": "Returns an inventory configuration (identified by the inventory ID) from the bucket.",
                "operationId": "GetBucketInventoryConfiguration",
                "parameters": [
                    {
                        "allowEmptyValue": true,
                        "in": "query",
                        "name": "inventory",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "Bucket",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/xml": {
                                "schema": {
                                    "properties": {
                                        "InventoryConfiguration": {
                                            "description": "Specifies the inventory configuration.",
                                            "properties": {
                                                "Destination": {
                                                    "description": "Contains information about where to publish the inventory results.",
                                                    "properties": {
                                                        "S3BucketDestination": {
                                                            "description": "Contains the bucket name, file format, bucket owner (optional), and prefix (optional) where inventory results are published.",
                                                            "properties": {
                                                                "AccountId": {
                                                                    "description": "The ID of the account that owns the destination bucket.",
                                                                    "type": "string"
                                                                },
                                                                "Bucket": {
                                                                    "description": "The Amazon resource name (ARN) of the bucket where inventory results will be published.",
                                                                    "type": "string"
                                                                },
                                                                "Encryption": {
                                                                    "description": "Contains the type of server-side encryption used to encrypt the inventory results.",
                                                                    "properties": {
                                                                        "SSEKMS": {
                                                                            "description": "Specifies the use of SSE-KMS to encrypt delivered Inventory reports.",
                                                                            "properties": {
                                                                                "KeyId": {
                                                                                    "description": "Specifies the ID of the AWS Key Management Service (KMS) master encryption key to use for encrypting Inventory reports.",
                                                                                    "format": "password",
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "KeyId"
                                                                            ],
                                                                            "type": "object"
                                                                        },
                                                                        "SSES3": {
                                                                            "description": "Specifies the use of SSE-S3 to encrypt delivered Inventory reports.",
                                                                            "properties": {},
                                                                            "type": "object"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "Format": {
                                                                    "description": "Specifies the output format of the inventory results.",
                                                                    "enum": [
                                                                        "CSV",
                                                                        "ORC",
                                                                        "Parquet"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "Prefix": {
                                                                    "description": "The prefix that is prepended to all inventory results.",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "Bucket",
                                                                "Format"
                                                            ],
                                                            "type": "object"
                                                        }
                                                    },
                                                    "required": [
                                                        "S3BucketDestination"
                                                    ],
                                                    "type": "object"
                                                },
                                                "Filter": {
                                                    "description": "Specifies an inventory filter. The inventory only includes objects that meet the filter's criteria.",
                                                    "properties": {
                                                        "Prefix": {
                                                            "description": "The prefix that an object must have to be included in the inventory results.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "Prefix"
                                                    ],
                                                    "type": "object"
                                                },
                                                "Id": {
                                                    "description": "The ID used to identify the inventory configuration.",
                                                    "type": "string"
                                                },
                                                "IncludedObjectVersions": {
                                                    "description": "Specifies which object version(s) to included in the inventory results.",
                                                    "enum": [
                                                        "All",
                                                        "Current"
                                                    ],
                                                    "type": "string"
                                                },
                                                "IsEnabled": {
                                                    "description": "Specifies whether the inventory is enabled or disabled.",
                                                    "type": "boolean"
                                                },
                                                "OptionalFields": {
                                                    "description": "Contains the optional fields that are included in the inventory results.",
                                                    "items": {
                                                        "enum": [
                                                            "Size",
                                                            "LastModifiedDate",
                                                            "StorageClass",
                                                            "ETag",
                                                            "IsMultipartUploaded",
                                                            "ReplicationStatus",
                                                            "EncryptionStatus",
                                                            "ObjectLockRetainUntilDate",
                                                            "ObjectLockMode",
                                                            "ObjectLockLegalHoldStatus"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "Schedule": {
                                                    "description": "Specifies the schedule for generating inventory results.",
                                                    "properties": {
                                                        "Frequency": {
                                                            "description": "Specifies how frequently inventory results are produced.",
                                                            "enum": [
                                                                "Daily",
                                                                "Weekly"
                                                            ],
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "Frequency"
                                                    ],
                                                    "type": "object"
                                                }
                                            },
                                            "required": [
                                                "Destination",
                                                "IsEnabled",
                                                "Id",
                                                "IncludedObjectVersions",
                                                "Schedule"
                                            ],
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "text/xml": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "header",
                    "name": "x-amz-security-token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/{Bucket}#GetBucketLifecycle": {
            "get": {
                "description": " No longer used, see the GetBucketLifecycleConfiguration operation.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETlifecycle.html</p>",
                "operationId": "GetBucketLifecycle",
                "parameters": [
                    {
                        "allowEmptyValue": true,
                        "in": "query",
                        "name": "lifecycle",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "Bucket",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/xml": {
                                "schema": {
                                    "example": {
                                        "Rules": [
                                            {
                                                "Expiration": {
                                                    "Days": 1
                                                },
                                                "ID": "delete logs",
                                                "Prefix": "123/",
                                                "Status": "Enabled"
                                            }
                                        ]
                                    },
                                    "properties": {
                                        "Rules": {
                                            "description": "<p/>",
                                            "items": {
                                                "description": "<p/>",
                                                "properties": {
                                                    "AbortIncompleteMultipartUpload": {
                                                        "description": "Specifies the days since the initiation of an Incomplete Multipart Upload that Lifecycle will wait before permanently removing all parts of the upload.",
                                                        "properties": {
                                                            "DaysAfterInitiation": {
                                                                "description": "Indicates the number of days that must pass since initiation for Lifecycle to abort an Incomplete Multipart Upload.",
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "Expiration": {
                                                        "description": "<p/>",
                                                        "properties": {
                                                            "Date": {
                                                                "description": "Indicates at what date the object is to be moved or deleted. Should be in GMT ISO 8601 Format.",
                                                                "format": "date-time",
                                                                "type": "string"
                                                            },
                                                            "Days": {
                                                                "description": "Indicates the lifetime, in days, of the objects that are subject to the rule. The value must be a non-zero positive integer.",
                                                                "type": "integer"
                                                            },
                                                            "ExpiredObjectDeleteMarker": {
                                                                "description": "Indicates whether Amazon S3 will remove a delete marker with no noncurrent versions. If set to true, the delete marker will be expired; if set to false the policy takes no action. This cannot be specified with Days or Date in a Lifecycle Expiration Policy.",
[...]
